@import "tailwindcss";

:root {
  --font-geist-sans: system-ui, Arial, sans-serif;
  --font-geist-mono: ui-monospace, Menlo, monospace;
}

html, body, #__next {
  height: 100%;
}
*::-webkit-scrollbar{
display: none;
}